body {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.turnIndicator {
  display: flex;
  justify-content: space-around;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 45vh;
  height: 45vh;
  margin: 0;
  padding: 0;
}

.board div {
  display: flex;
  flex-basis: 12.5%;
  height: 12.5%;
  background-color: rgb(150, 149, 149);
  justify-content: space-around;
}

.board .unusedCell {
  background-color: white;
}

.blackPiece {
  align-self: center;
  height: 80%;
  width: 80%;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.whitePiece {
  align-self: center;
  height: 80%;
  width: 80%;
  background-color: rgba(224, 212, 212, 0.945);
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  text-align: center;
  color: black;
}

.isKing {
  border-color: red;
}

.moveBorder {
  border: 3px solid rgb(12, 239, 12);
}

.jumpBorder {
  border: 3px solid red;
}

.canJump {
  border: 3px solid red;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #8e54ff;
  justify-content: center;
  height: 100%;
}

section {
  border-top: 0px solid black;
}

#turnIndicator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#turnIndicator p {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.35);
}

.fadeOut {
  color: gray;
}

#hiddenNav {
  visibility: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: block;
  height: 100%;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 10%;
  width: 100%;
}

.menu li:after,
.menu li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.menu li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu li:hover::before,
.menu li:hover::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}

.fadedNav {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.fadedNav:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
  display: none;
}

#landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#landingBtns {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

#winMsg button {
  display: block;
  margin: 0 auto;
}
